<header class="d-flex flex-row-nowrap justify-content-center p-20">
	<div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
		<a class="header-logo" href="{{ path('home') }}">
			<h1>TaskMe</h1>
		</a>
		<div class="header-search p-10 flex-fill">
			<i class="fa-solid fa-search"></i>
			<input type="text">
		</div>
		{%- if is_granted('ROLE_USER') -%}
			<div class="d-flex flow-row-nowrap justify-content-center">
			<a href="#">
				<img src="" class="avatar avatar-lg mr-10">
			</a>
				<small class="d-flex flex-column justify-content-center">
					<a href="#">Déconnexion</a>
				</small>
			</div>
		{% else %}
			<div>
				<a href="#" class="btn btn-primary mr-5">Inscription</a>
				<a href="#" class="btn btn-primary-stroke">Connexion</a>
			</div>
		{%- endif -%}
	</div>
</header>
			
